<a href="https://colab.research.google.com/github/davidlealo/sic_ai_2024/blob/main/007_proyecto/%5Bb%5Dmovierecommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hola profe no si es esto a lo que se refería pero aquí tengo algunos csv y los uní JSJSJ

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dfIMDB = pd.read_csv("/content/IMDB-Movie-Data.csv")
dfIMDB.head(10)

In [ ]:
dfIMDB

In [ ]:
dfIMDB.isnull().sum()

In [ ]:
dfIMDB.info()

In [ ]:
# valores unicos de dfIMDB['Metascore']
dfIMDB['Metascore'].unique()

In [ ]:
dfIMDB['Metascore'].mean() # Opción uno es fill con el mean
# Opción dos es eliminar la columna

In [ ]:
dfMovies = pd.read_csv("/content/MoviesOnStreamingPlatforms.csv")
dfMovies.head(20)

In [ ]:
dfMovies.tail(20)

In [ ]:
dfMovies

In [ ]:
dfMovies.isnull().sum()

In [ ]:
dfMovies.info()

In [ ]:
# Valores unicos para dfMovies['Age']
dfMovies['Age'].unique()

In [ ]:
# print dfMovies['Age'] = nan
dfMovies[dfMovies['Age'].isnull()].head(20)

In [ ]:
dfNetflix = pd.read_csv("/content/netflix_titles_nov_2019.csv")
dfNetflix.head(20)

In [ ]:
dfNetflix.info()

In [ ]:
dfNetflix.isnull().sum()

In [ ]:
dfNetflix.rename(columns={'title': 'Title'}, inplace=True)

dfMerge = pd.merge(dfIMDB, dfNetflix, on='Title', how='inner')
dfMerge = pd.merge(dfMerge, dfMovies, on='Title', how='inner')

dfMerge

In [ ]:
dfMerge.isnull().sum()

Salió mal xd (no tomar en cuenta, estaba juganding)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Cargar los datasets
dfIMDB = pd.read_csv('/content/IMDB-Movie-Data.csv')
dfMovies = pd.read_csv('/content/MoviesOnStreamingPlatforms.csv')
dfNetflix = pd.read_csv('/content/netflix_titles_nov_2019.csv')

# Renombrar columna en dfNetflix para hacer el merge
dfNetflix.rename(columns={'title': 'Title'}, inplace=True)

# Fusión de los datasets por la columna 'Title'
dfMerge = pd.merge(dfIMDB, dfNetflix, on='Title', how='inner')
dfFinal = pd.merge(dfMerge, dfMovies, on='Title', how='inner')

# Eliminar duplicados
dfFinal.drop_duplicates(inplace=True)

# Identificar columnas con valores nulos
null_values = dfFinal.isnull().sum() / len(dfFinal) * 100

# Imputación para columnas numéricas con la mediana
imputer_num = SimpleImputer(strategy='median')
dfFinal['Revenue (Millions)'] = imputer_num.fit_transform(dfFinal[['Revenue (Millions)']])
dfFinal['Metascore'] = imputer_num.fit_transform(dfFinal[['Metascore']])

# Codificación de la columna 'Age' con LabelEncoder en lugar de imputación
label_encoder = LabelEncoder()
dfFinal['Age'] = label_encoder.fit_transform(dfFinal['Age'])

# Codificación de la columna 'Type' con LabelEncoder (es binaria: Movie/TV Show)
dfFinal['Type'] = label_encoder.fit_transform(dfFinal['Type'])

# Transformación de la columna 'Genre' para One-Hot Encoding
dfFinal['Genre'] = dfFinal['Genre'].str.split(',')
dfFinal = dfFinal.explode('Genre')

# Aplicar One-Hot Encoding en la columna 'Genre'
dfFinal = pd.get_dummies(dfFinal, columns=['Genre'], prefix='Genre', drop_first=True)

# Resultado del preprocesamiento
dfFinal.head()

In [ ]:
dfMovies.info()

In [ ]:
# drop dfMovies Unnamed: 0, ID, Age, Type
dfMovies.drop(['Unnamed: 0', 'ID', 'Age', 'Type'], axis=1, inplace=True)

In [ ]:
dfMovies

In [ ]:
import os
import zipfile
import requests
import pandas as pd

# URL del dataset
url = "https://files.grouplens.org/datasets/movielens/ml-20m.zip"
zip_file = "ml-20m.zip"
extract_dir = "ml-20m"

# Descargar el dataset
if not os.path.exists(zip_file):
    print("Descargando dataset...")
    response = requests.get(url)
    with open(zip_file, 'wb') as f:
        f.write(response.content)
    print("Descarga completa.")

# Descomprimir el dataset
if not os.path.exists(extract_dir):
    print("Descomprimiendo dataset...")
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(extract_dir)
    print("Descompresión completa.")

In [ ]:
movies = pd.read_csv("/content/ml-20m/ml-20m/movies.csv")
movies

In [ ]:
rating = pd.read_csv("/content/ml-20m/ml-20m/ratings.csv")
rating

In [ ]:
# merge movie y rating [movieID]
dfMerge = pd.merge(movies, rating, on='movieId', how='inner')
dfMerge

In [30]:
# Dividir la columna 'title' en dos nuevas columnas
dfMerge[['title', 'year']] = dfMerge['title'].str.extract(r'(.+?) \((\d{4})\)')

# Mostrar el DataFrame resultante
print(dfMerge)

          movieId                   title  \
0               1               Toy Story
1               1               Toy Story
2               1               Toy Story
3               1               Toy Story
4               1               Toy Story
...           ...                     ...
20000258   131254   Kein Bund für's Leben
20000259   131256  Feuer, Eis & Dosenbier
20000260   131258             The Pirates
20000261   131260            Rentun Ruusu
20000262   131262               Innocence

                                               genres  userId  rating  \
0         Adventure|Animation|Children|Comedy|Fantasy       3     4.0
1         Adventure|Animation|Children|Comedy|Fantasy       6     5.0
2         Adventure|Animation|Children|Comedy|Fantasy       8     4.0
3         Adventure|Animation|Children|Comedy|Fantasy      10     4.0
4         Adventure|Animation|Children|Comedy|Fantasy      11     4.5
...                                               ...     ...     ...
20000258                                       Comedy   79570     4.0
20000259                                       Comedy   79570     4.0
20000260                                    Adventure   28906     2.5
20000261                           (no genres listed)   65409     3.0
20000262                     Adventure|Fantasy|Horror  133047     4.0

           timestamp  year
0          944919407  1995
1          858275452  1995
2          833981871  1995
3          943497887  1995
4         1230858821  1995
...              ...   ...
20000258  1427743979  2007
20000259  1427744888  2002
20000260  1427745392  2014
20000261  1427745466  2001
20000262  1427747966  2014

[20000263 rows x 7 columns]

In [31]:
display(dfMerge.head(20))

,movieId,title,genres,userId,rating,timestamp,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407,1995
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452,1995
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871,1995
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887,1995
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821,1995
5,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,12,4.0,859063718,1995
6,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,13,4.0,849082891,1995
7,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1225311239,1995
8,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,16,3.0,990969772,1995
9,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,19,5.0,855176628,1995
10,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,22,3.0,994638157,1995
11,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,23,4.0,914458411,1995
12,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,24,4.0,994230149,1995
13,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,31,3.0,1424733487,1995
14,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,34,5.0,846509445,1995
15,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,39,5.0,859325696,1995
16,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,47,1.0,1239940397,1995
17,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,53,4.0,938948976,1995
18,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,54,4.0,974840421,1995
19,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,58,5.0,1144058408,1995

In [32]:
# en dfMovies cambiar nombre de variables a minuscula
dfMovies.columns = dfMovies.columns.str.lower()

In [33]:
df_combined = pd.merge(dfMovies, dfMerge, left_on=['title'], right_on=['title'], how='left')

In [34]:
df_combined

,title,year_x,rotten tomatoes,netflix,hulu,prime video,disney+,movieId,genres,userId,rating,timestamp,year_y
0,The Irishman,2019,98/100,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,Dangal,2016,97/100,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,David Attenborough: A Life on Our Planet,2020,95/100,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,14.0,4.5,1.225311e+09,2001
4,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,176.0,5.0,1.426775e+09,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3058923,Most Wanted Sharks,2020,14/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
3058924,Doc McStuffins: The Doc Is In,2020,13/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
3058925,Ultimate Viking Sword,2019,13/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
3058926,Hunt for the Abominable Snowman,2011,10/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
3058927,Women of Impact: Changing the World,2019,10/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# aliminar todos los valores NaN de df_combined
df_combined = df_combined.dropna()

In [36]:
df_combined.head(20)

,title,year_x,rotten tomatoes,netflix,hulu,prime video,disney+,movieId,genres,userId,rating,timestamp,year_y
3,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,14.0,4.5,1.225311e+09,2001
4,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,176.0,5.0,1.426775e+09,2001
5,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,206.0,4.0,1.117061e+09,2001
6,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,266.0,3.5,1.311928e+09,2001
7,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,306.0,2.5,1.084898e+09,2001
8,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,489.0,3.5,1.076114e+09,2001
9,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,732.0,4.5,1.075677e+09,2001
10,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,777.0,4.5,1.168061e+09,2001
11,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,787.0,3.5,1.153778e+09,2001
12,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,872.0,3.5,1.290864e+09,2001
13,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,933.0,5.0,1.295323e+09,2001
14,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1323.0,4.0,1.070656e+09,2001
15,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1653.0,4.0,1.090874e+09,2001
16,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1737.0,5.0,1.134080e+09,2001
17,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1789.0,4.5,1.201958e+09,2001
18,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1966.0,4.5,1.072412e+09,2001
19,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,2024.0,4.5,1.144801e+09,2001
20,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,2232.0,4.5,1.127532e+09,2001
21,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,2484.0,3.5,1.209332e+09,2001
22,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,2703.0,4.5,1.110072e+09,2001

In [37]:
# drop timestamp	year_y
df_combined.drop(['timestamp', 'year_y'], axis=1, inplace=True)

<ipython-input-37-0bb8a38263d9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.drop(['timestamp', 'year_y'], axis=1, inplace=True)

In [38]:
df_combined

,title,year_x,rotten tomatoes,netflix,hulu,prime video,disney+,movieId,genres,userId,rating
3,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,14.0,4.5
4,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,176.0,5.0
5,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,206.0,4.0
6,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,266.0,3.5
7,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,306.0,2.5
...,...,...,...,...,...,...,...,...,...,...,...
3058752,Walt & El Grupo,2008,47/100,0,0,0,1,83978.0,Documentary,26867.0,2.0
3058753,Walt & El Grupo,2008,47/100,0,0,0,1,83978.0,Documentary,121535.0,2.5
3058786,The Adventures of André and Wally B.,1984,45/100,0,0,0,1,126405.0,Animation,1678.0,3.0
3058787,The Adventures of André and Wally B.,1984,45/100,0,0,0,1,126405.0,Animation,61678.0,0.5
3058788,The Adventures of André and Wally B.,1984,45/100,0,0,0,1,126405.0,Animation,65687.0,0.5

In [39]:
# valores unicos para df combined rating
df_combined['rating'].unique()

array([4.5, 5. , 4. , 3.5, 2.5, 3. , 2. , 1. , 0.5, 1.5])

In [40]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.4/154.4 kB 3.1 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.13.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp310-cp310-linux_x86_64.whl size=2357278 sha256=ec68df07af07d7bd266dc78e09dac0da5fc67968a7217238e8c1355f5b3e25c5
  Stored in directory: /root/.cache/pip/wheels/4b/3f/df/6acbf0a40397d9bf3ff97f582cc22fb9ce66adde75bc71fd54
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4

In [ ]:
import os
import urllib.request
import zipfile
from surprise import KNNBasic, Dataset, Reader
from surprise import accuracy
from surprise.model_selection import train_test_split
from collections import defaultdict
import pandas as pd

# Crear un diccionario para mapear id de película a título
movie_id_to_title = dict(zip(df_combined['movieId'], df_combined['title']))

reader = Reader(rating_scale=(0.5, 5))  # Ajusta el rango de calificación si es diferente
data = Dataset.load_from_df(df_combined[['userId', 'title', 'rating']], reader)

# Dividir el dataset en conjunto de entrenamiento y prueba
trainset, testset = train_test_split(data, test_size=.25)

# Crear el algoritmo KNNBasic
modelo = KNNBasic(k=40, sim_options={'name': 'cosine', 'user_based': True})

# Entrenar el algoritmo con el conjunto de entrenamiento
modelo.fit(trainset)

# Hacer predicciones en el conjunto de prueba
predictions = modelo.test(testset)

# Calcular el RMSE (Root Mean Squared Error)
rmse = accuracy.rmse(predictions)
print(f"RMSE: {rmse}")

# Función para obtener las top N recomendaciones
def get_top_n(predictions, n=5):
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Ordenar las predicciones para cada usuario y obtener las top n
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return dict(top_n)

# Obtener las top 5 recomendaciones para todos los usuarios
top_n = get_top_n(predictions, n=5)

# Mostrar las top 5 recomendaciones para el usuario 1
print("\nTop 5 recomendaciones para el usuario 1:")
for iid, rating in top_n['1']:
    print(f"Película: {movie_id_to_title[int(iid)]}, Calificación estimada: {rating:.2f}")

# Mostrar todas las predicciones para el usuario 1
print("\nTodas las predicciones para el usuario 1:")
user_1_predictions = [pred for pred in predictions if pred.uid == '1']
for prediction in sorted(user_1_predictions, key=lambda x: x.est, reverse=True)[:10]:
    print(f"Película: {movie_id_to_title[int(prediction.iid)]}, "
          f"Calificación estimada: {prediction.est:.2f}")