<a href="https://colab.research.google.com/github/davidlealo/sic_ai_2024/blob/main/007_proyecto/movierecommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hola profe no si es esto a lo que se refería pero aquí tengo algunos csv y los uní JSJSJ

In [1]:
import numpy as np
import pandas as pd

In [3]:
dfIMDB = pd.read_csv("/content/IMDB-Movie-Data.csv")
dfIMDB.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

In [ ]:
dfIMDB

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [4]:
dfIMDB.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [5]:
dfIMDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [7]:
# valores unicos de dfIMDB['Metascore']
dfIMDB['Metascore'].unique()

array([ 76.,  65.,  62.,  59.,  40.,  42.,  93.,  71.,  78.,  41.,  66.,
        74.,  81.,  70.,  61.,  58.,  69.,  49.,  96.,  72.,  56.,  32.,
        nan,  60.,  36.,  39.,  67.,  52.,  75.,  54.,  99.,  57.,  45.,
        64.,  68.,  16.,  23.,  18.,  82.,  79.,  51.,  44.,  48.,  46.,
        90.,  50.,  53.,  83.,  77.,  85.,  55.,  80.,  88.,  87.,  91.,
        63.,  86.,  84.,  29.,  47.,  73.,  33.,  43.,  25.,  35.,  98.,
        31.,  94.,  38.,  34.,  26.,  92.,  95.,  30.,  27.,  19.,  89.,
        28.,  22.,  37.,  20., 100.,  15.,  24.,  11.])

In [10]:
dfIMDB['Metascore'].mean() # Opción uno es fill con el mean
# Opción dos es eliminar la columna

58.98504273504273

In [12]:
dfMovies = pd.read_csv("/content/MoviesOnStreamingPlatforms.csv")
dfMovies.head(20)

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0
5,5,6,To All the Boys I've Loved Before,2018,13+,94/100,1,0,0,0,0
6,6,7,The Social Dilemma,2020,13+,93/100,1,0,0,0,0
7,7,8,Okja,2017,13+,92/100,1,0,0,0,0
8,8,9,The Ballad of Buster Scruggs,2018,16+,92/100,1,0,0,0,0
9,9,10,The Trial of the Chicago 7,2020,18+,92/100,1,0,0,0,0
10,10,11,Article 15,2019,18+,92/100,1,0,0,0,0
11,11,12,Jim & Andy: The Great Beyond- Featuring a Very...,2017,18+,92/100,1,0,0,0,0
12,12,13,Dolemite Is My Name,2019,18+,92/100,1,0,0,0,0
13,13,14,Mudbound,2017,18+,91/100,1,0,0,0,0
14,14,15,Swades,2004,all,91/100,1,0,0,0,0
15,15,16,Fyre,2019,18+,91/100,1,0,0,0,0
16,16,17,Miss Americana,2020,18+,90/100,1,0,0,0,0
17,17,18,Virunga,2014,16+,90/100,1,0,0,0,0
18,18,19,Black Friday,2004,18+,90/100,1,0,0,0,0
19,19,20,Talvar,2015,7+,90/100,1,0,0,0,0

In [13]:
dfMovies.tail(20)

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
9495,9495,9496,My Music Story: Yoshiki,2021,16+,33/100,0,0,0,1,0
9496,9496,9497,Disney Channel Halloween House Party,2020,NaN,33/100,0,0,0,1,0
9497,9497,9498,Earth Live,2017,NaN,33/100,0,0,0,1,0
9498,9498,9499,World's Greatest Dogs,2015,NaN,33/100,0,0,0,1,0
9499,9499,9500,Wild Uganda,2018,7+,32/100,0,0,0,1,0
9500,9500,9501,Challenge Accepted! Disney Channel's Epic Holi...,2020,NaN,32/100,0,0,0,1,0
9501,9501,9502,Sharks of the Bermuda Triangle,2020,NaN,31/100,0,0,0,1,0
9502,9502,9503,Sharkcano,2020,NaN,16/100,0,0,0,1,0
9503,9503,9504,Disney My Music Story: Sukima Switch,2021,16+,16/100,0,0,0,1,0
9504,9504,9505,Big Cat Games,2015,NaN,15/100,0,0,0,1,0
9505,9505,9506,Great Shark Chow Down,2019,7+,14/100,0,0,0,1,0
9506,9506,9507,In Beaver Valley,1950,NaN,14/100,0,0,0,1,0
9507,9507,9508,Texas Storm Squad,2020,13+,14/100,0,0,0,1,0
9508,9508,9509,What the Shark?,2020,13+,14/100,0,0,0,1,0
9509,9509,9510,Built for Mars: The Perseverance Rover,2021,NaN,14/100,0,0,0,1,0
9510,9510,9511,Most Wanted Sharks,2020,NaN,14/100,0,0,0,1,0
9511,9511,9512,Doc McStuffins: The Doc Is In,2020,NaN,13/100,0,0,0,1,0
9512,9512,9513,Ultimate Viking Sword,2019,NaN,13/100,0,0,0,1,0
9513,9513,9514,Hunt for the Abominable Snowman,2011,NaN,10/100,0,0,0,1,0
9514,9514,9515,Women of Impact: Changing the World,2019,7+,10/100,0,0,0,1,0

In [ ]:
dfMovies

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9510,9510,9511,Most Wanted Sharks,2020,NaN,14/100,0,0,0,1,0
9511,9511,9512,Doc McStuffins: The Doc Is In,2020,NaN,13/100,0,0,0,1,0
9512,9512,9513,Ultimate Viking Sword,2019,NaN,13/100,0,0,0,1,0
9513,9513,9514,Hunt for the Abominable Snowman,2011,NaN,10/100,0,0,0,1,0
9514,9514,9515,Women of Impact: Changing the World,2019,7+,10/100,0,0,0,1,0

In [14]:
dfMovies.isnull().sum()

Unnamed: 0            0
ID                    0
Title                 0
Year                  0
Age                4177
Rotten Tomatoes       7
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
Type                  0
dtype: int64

In [15]:
dfMovies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9515 entries, 0 to 9514
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9515 non-null   int64
 1   ID               9515 non-null   int64
 2   Title            9515 non-null   object
 3   Year             9515 non-null   int64
 4   Age              5338 non-null   object
 5   Rotten Tomatoes  9508 non-null   object
 6   Netflix          9515 non-null   int64
 7   Hulu             9515 non-null   int64
 8   Prime Video      9515 non-null   int64
 9   Disney+          9515 non-null   int64
 10  Type             9515 non-null   int64
dtypes: int64(8), object(3)
memory usage: 817.8+ KB

In [16]:
# Valores unicos para dfMovies['Age']
dfMovies['Age'].unique()

array(['18+', '7+', '13+', '16+', 'all', nan], dtype=object)

In [19]:
# print dfMovies['Age'] = nan
dfMovies[dfMovies['Age'].isnull()].head(20)

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
35,35,36,On Body and Soul,2017,NaN,88/100,1,0,0,0,0
40,40,41,Special 26,2013,NaN,87/100,1,0,0,0,0
57,57,58,The Distinguished Citizen,2016,NaN,86/100,1,0,0,0,0
65,65,66,Chasing Coral,2017,NaN,85/100,1,0,0,0,0
88,88,89,"What Happened, Miss Simone?",2015,NaN,84/100,1,0,0,0,0
92,92,93,Cargo,2017,NaN,84/100,1,0,0,0,0
94,94,95,Cuba and the Cameraman,2017,NaN,83/100,1,0,0,0,0
114,114,115,Springsteen On Broadway,2018,NaN,82/100,1,0,0,0,0
122,122,123,The Endless Trench,2019,NaN,82/100,1,0,0,0,0
123,123,124,Even the Rain,2010,NaN,82/100,1,0,0,0,0
127,127,128,Period. End of Sentence.,2018,NaN,82/100,1,0,0,0,0
130,130,131,The Siege of Jadotville,2016,NaN,81/100,1,0,0,0,0
131,131,132,Into the Inferno,2016,NaN,81/100,1,0,0,0,0
140,140,141,Circus of Books,2019,NaN,81/100,1,0,0,0,0
141,141,142,Tallulah,2016,NaN,81/100,1,0,0,0,0
149,149,150,Bareilly's Barfi,2017,NaN,80/100,1,0,0,0,0
150,150,151,Divines,2016,NaN,80/100,1,0,0,0,0
159,159,160,The Sky Is Pink,2019,NaN,80/100,1,0,0,0,0
162,162,163,My Happy Family,2017,NaN,80/100,1,0,0,0,0
163,163,164,The American Meme,2018,NaN,80/100,1,0,0,0,0

In [20]:
dfNetflix = pd.read_csv("/content/netflix_titles_nov_2019.csv")
dfNetflix.head(20)

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show
5,81172754,Crazy people,Moses Inwang,"Ramsey Nouah, Chigul, Sola Sobowale, Ireti Doy...",Nigeria,"November 29, 2019",2018,TV-14,107 min,"Comedies, International Movies, Thrillers",Nollywood star Ramsey Nouah learns that someon...,Movie
6,81120982,I Lost My Body,Jérémy Clapin,"Hakim Faris, Victoire Du Bois, Patrick d'Assum...",France,"November 29, 2019",2019,TV-MA,81 min,"Dramas, Independent Movies, International Movies","Romance, mystery and adventure intertwine as a...",Movie
7,81227195,Kalushi: The Story of Solomon Mahlangu,Mandla Dube,"Thabo Rametsi, Thabo Malema, Welile Nzuza, Jaf...",South Africa,"November 29, 2019",2016,TV-MA,107 min,"Dramas, International Movies",The life and times of iconic South African lib...,Movie
8,70205672,La Reina del Sur,NaN,"Kate del Castillo, Cristina Urgel, Alberto Jim...","United States, Spain, Colombia, Mexico",NaN,2019,TV-14,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...",This compelling show tells the story of the le...,TV Show
9,81172841,Lagos Real Fake Life,Mike Ezuruonye,"Nonso Diobi, Mike Ezuruonye, Mercy Aigbe, Rex ...",NaN,"November 29, 2019",2018,TV-14,118 min,"Comedies, International Movies",Two mooching friends vie for the attention of ...,Movie
10,81172899,Payday,Cheta Chukwu,"Baaj Adebule, Ebiye Victor, Meg Otanwa, Bisola...",Nigeria,"November 29, 2019",2018,TV-MA,110 min,"Comedies, Independent Movies, International Mo...","After an expensive night out, two flatmates ge...",Movie
11,81094391,Sugar Rush Christmas,NaN,"Hunter March, Candace Nelson, Adriano Zumbo",United States,"November 29, 2019",2019,TV-PG,1 Season,Reality TV,"It's everything you love about ""Sugar Rush"" – ...",TV Show
12,81172908,The Accidental Spy,Roger Russell,"Ramsey Nouah, Christine Allado, Ayo Makun, Emm...",Nigeria,"November 29, 2019",2017,TV-14,104 min,"Action & Adventure, Comedies, International Mo...","Nursing a broken heart, an IT specialist moves...",Movie
13,81152641,The Charming Stepmom,NaN,"Shahkrit Yamnarm, View Wannarot Sontichai, Kri...",NaN,"November 29, 2019",2019,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",A quirky fashion student becomes the nanny of ...,TV Show
14,81172901,The Island,Toka McBaror,"Sambasa Nzeribe, Segun Arinze, Tokunbo Idowu, ...",Nigeria,"November 29, 2019",2018,TV-14,93 min,"Dramas, International Movies, Thrillers",When a colonel uncovers controversial intel ab...,Movie
15,80990849,The Movies That Made Us,NaN,NaN,United States,"November 29, 2019",2019,TV-MA,1 Season,Docuseries,These blockbusters brought us together and gav...,TV Show
16,81033086,Holiday Rush,Leslie Small,"Romany Malco, Sonequa Martin-Green, Darlene Lo...",United States,"November 28, 2019",2019,TV-PG,94 min,"Children & Family Movies, Dramas",A widowed radio DJ and his four spoiled kids n...,Movie
17,80156799,Levius,NaN,"Nobunaga Shimazaki, Junichi Suwabe, Takahiro S...",Japan,"November 28, 2019",2019,TV-14,1 Season,"Anime Series, International TV Shows",Young Levius rises through the ranks in the br...,TV Show
18,81161538,Lugar de Mulher,NaN,NaN,Brazil,"November 28, 2019",2019,TV-MA,1 Season,"International TV Shows, Stand-Up Comedy & Talk...","Four comedians from Brazil riff on sexuality, ...",TV Show
19,80997965,Merry Happy Whatever,NaN,"Dennis Quaid, Bridgit Mendler, Brent Morin, As...",United States,"November 28, 2019",2019,TV-PG,1 Season,TV Comedies,A struggling LA musician tries to win over his...,TV Show

In [21]:
dfNetflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5837 non-null   int64
 1   title         5837 non-null   object
 2   director      3936 non-null   object
 3   cast          5281 non-null   object
 4   country       5410 non-null   object
 5   date_added    5195 non-null   object
 6   release_year  5837 non-null   int64
 7   rating        5827 non-null   object
 8   duration      5837 non-null   object
 9   listed_in     5837 non-null   object
 10  description   5837 non-null   object
 11  type          5837 non-null   object
dtypes: int64(2), object(10)
memory usage: 547.3+ KB

In [22]:
dfNetflix.isnull().sum()

show_id            0
title              0
director        1901
cast             556
country          427
date_added       642
release_year       0
rating            10
duration           0
listed_in          0
description        0
type               0
dtype: int64

In [ ]:
dfNetflix.rename(columns={'title': 'Title'}, inplace=True)

dfMerge = pd.merge(dfIMDB, dfNetflix, on='Title', how='inner')
dfMerge = pd.merge(dfMerge, dfMovies, on='Title', how='inner')

dfMerge

,Rank,Title,Genre,Description,Director,Actors,Year_x,Runtime (Minutes),Rating,Votes,...,Unnamed: 0,ID,Year_y,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,...,760,761,2016,18+,66/100,1,0,0,0,0
1,71,The Promise,"Drama,History",Set during the last days of the Ottoman Empire...,Terry George,"Oscar Isaac, Charlotte Le Bon, Christian Bale,...",2016,133,5.9,149791,...,618,619,2016,13+,68/100,1,0,0,0,0
2,89,The Hateful Eight,"Crime,Drama,Mystery","In the dead of a Wyoming winter, a bounty hunt...",Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",2015,187,7.8,341170,...,71,72,2015,18+,85/100,1,0,0,0,0
3,106,Hell or High Water,"Crime,Drama,Thriller",A divorced father and his ex-con older brother...,David Mackenzie,"Chris Pine, Ben Foster, Jeff Bridges, Gil Birm...",2016,102,7.7,115546,...,3732,3733,2016,18+,81/100,0,1,0,0,0
4,118,Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,...,1,2,2016,7+,97/100,1,0,0,0,0
5,149,Superbad,Comedy,Two co-dependent high school seniors are force...,Greg Mottola,"Michael Cera, Jonah Hill, Christopher Mintz-Pl...",2007,113,7.6,442082,...,109,110,2007,18+,83/100,1,0,0,0,0
6,153,White Girl,Drama,"Summer, New York City. A college girl falls ha...",Elizabeth Wood,"Morgan Saylor, Brian Marc, Justin Bartha, Adri...",2016,88,5.8,4299,...,900,901,2016,NaN,64/100,1,0,0,0,0
7,159,Scott Pilgrim vs. the World,"Action,Comedy,Fantasy",Scott Pilgrim must defeat his new girlfriend's...,Edgar Wright,"Michael Cera, Mary Elizabeth Winstead, Kieran ...",2010,112,7.5,291457,...,117,118,2010,13+,82/100,1,0,0,0,0
8,162,Free Fire,"Action,Comedy,Crime","Set in Boston in 1978, a meeting in a deserted...",Ben Wheatley,"Sharlto Copley, Brie Larson, Armie Hammer, Cil...",2016,90,7.0,6946,...,478,479,2017,18+,71/100,1,0,0,0,0
9,189,Drive,"Crime,Drama",A mysterious Hollywood stuntman and mechanic m...,Nicolas Winding Refn,"Ryan Gosling, Carey Mulligan, Bryan Cranston, ...",2011,100,7.8,461509,...,2185,2186,2019,13+,50/100,1,0,0,0,0
10,189,Drive,"Crime,Drama",A mysterious Hollywood stuntman and mechanic m...,Nicolas Winding Refn,"Ryan Gosling, Carey Mulligan, Bryan Cranston, ...",2011,100,7.8,461509,...,2185,2186,2019,13+,50/100,1,0,0,0,0
11,232,A Kind of Murder,"Crime,Drama,Thriller","In 1960s New York, Walter Stackhouse is a succ...",Andy Goddard,"Patrick Wilson, Jessica Biel, Haley Bennett, V...",2016,95,5.2,3305,...,4269,4270,2016,18+,58/100,0,1,0,0,0
12,255,The Conjuring,"Horror,Mystery,Thriller",Paranormal investigators Ed and Lorraine Warre...,James Wan,"Patrick Wilson, Vera Farmiga, Ron Livingston, ...",2013,112,7.5,330305,...,103,104,2013,18+,83/100,1,0,0,0,0
13,288,Jupiter Ascending,"Action,Adventure,Sci-Fi",A young woman discovers her destiny as an heir...,Lana Wachowski,"Channing Tatum, Mila Kunis,Eddie Redmayne, Sea...",2015,127,5.3,150121,...,471,472,2015,13+,71/100,1,0,0,0,0
14,305,She's Out of My League,"Comedy,Romance","An average Joe meets the perfect woman, but hi...",Jim Field Smith,"Jay Baruchel, Alice Eve, T.J. Miller, Mike Vogel",2010,104,6.4,105619,...,407,408,2010,18+,72/100,1,0,1,0,0
15,316,Snowpiercer,"Action,Drama,Sci-Fi",Set in a future where a failed climate-change ...,Bong Joon Ho,"Chris Evans, Jamie Bell, Tilda Swinton, Ed Harris",2013,126,7.0,199048,...,139,140,2013,18+,81/100,1,0,0,0,0
16,322,Lovesong,Drama,The relationship between two friends deepens d...,So Yong Kim,"Riley Keough, Jena Malone, Jessie Ok Gray, Car...",2016,84,6.4,616,...,1292,1293,2017,NaN,59/100,1,0,0,0,0
17,336,Before I Wake,"Drama,Fantasy,Horror",A young couple adopt an orphaned child whose d...,Mike Flanagan,"Kate Bosworth, Thomas Jane, Jacob Tremblay,Ann...",2016,97,6.1,18201,...,215,216,2016,13+,78/100,1,0,0,0,0
18,352,Joy,Drama,"Joy is the story of the title character, who r...",David O. Russell,"Jennifer Lawrence, Robert De Niro, Bradley Coo...",2015,124,6.6,97679,...,1473,1474,2018,18+,57/100,1,0,0,0,0
19,358,The Theory of Everything,"Biography,Drama,Romance",A look at the relationship between the famous ...,James Marsh,"Eddie Redmayne, Felicity Jones, Tom Prior, Sop...",2014,123,7.7,299718,...,113,114,2014,13+,82/100,1,0,0,0,0
20,360,About Time,"Comedy,Drama,Fantasy","At the age of 21, Tim discovers he can travel ...",Richard Curtis,"Domhnall Gleeson, Rachel McAdams, Bill Nighy,L...",2013,123,7.8,221600,...,106,107,2013,13+,83/100,1,0,0,0,0
21,364,Zombieland,"Adventure,Comedy,Horror",A shy student trying to reach his family in Oh...,Ruben Fleischer,"Jesse Eisenberg, Emma Stone, Woody Harrelson,A...",2009,88,7.7,409403,...,73,74,2009,18+,84/100,1,0,0,0,0
22,383,Hush,"Horror,Thriller",A deaf writer who retreated into the woods to ...,Mike Flanagan,"John Gallagher Jr., Kate Siegel, Michael Trucc...",2016,81,6.6,45867,...,356,357,2016,18+,73/100,1,0,0,0,0
23,390,John Carter,"Action,Adventure,Sci-Fi","Transported to Barsoom, a Civil War vet discov...",Andrew Stanton,"Taylor Kitsch, Lynn Collins, Willem Dafoe,Sama...",2012,132,6.6,220667,...,8734,8735,2012,13+,75/100,0,0,0,1,0
24,431,3 Idiots,"Comedy,Drama",Two friends are searching for their long lost ...,Rajkumar Hirani,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi",2009,170,8.4,238789,...,56,57,2009,13+,86/100,1,0,0,0,0
25,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,...,272,273,2013,18+,76/100,1,0,0,0,0
26,460,Revolutionary Road,"Drama,Romance",A young couple living in a Connecticut suburb ...,Sam Mendes,"Leonardo DiCaprio, Kate Winslet, Christopher F...",2008,119,7.3,159736,...,3772,3773,2008,18+,77/100,0,1,1,0,0
27,528,The Green Inferno,"Adventure,Horror",A group of student activists travels to the Am...,Eli Roth,"Lorenza Izzo, Ariel Levy, Aaron Burns, Kirby B...",2013,100,5.4,26461,...,831,832,2015,18+,64/100,1,0,0,0,0
28,538,The Do-Over,"Action,Adventure,Comedy",Two down-on-their-luck guys decide to fake the...,Steven Brill,"Adam Sandler, David Spade, Paula Patton, Kathr...",2016,108,5.7,24761,...,727,728,2016,18+,66/100,1,0,0,0,0
29,542,Limitless,"Mystery,Sci-Fi,Thriller",With the help of a mysterious pill that enable...,Neil Burger,"Bradley Cooper, Anna Friel, Abbie Cornish, Rob...",2011,105,7.4,444417,...,3145,3146,2017,NaN,41/100,1,0,0,0,0
30,542,Limitless,"Mystery,Sci-Fi,Thriller",With the help of a mysterious pill that enable...,Neil Burger,"Bradley Cooper, Anna Friel, Abbie Cornish, Rob...",2011,105,7.4,444417,...,3145,3146,2017,NaN,41/100,1,0,0,0,0
31,542,Limitless,"Mystery,Sci-Fi,Thriller",With the help of a mysterious pill that enable...,Neil Burger,"Bradley Cooper, Anna Friel, Abbie Cornish, Rob...",2011,105,7.4,444417,...,3145,3146,2017,NaN,41/100,1,0,0,0,0
32,543,Spectral,"Action,Mystery,Sci-Fi",A sci-fi/thriller story centered on a special-...,Nic Mathieu,"James Badge Dale, Emily Mortimer, Bruce Greenw...",2016,107,6.3,27042,...,472,473,2016,13+,71/100,1,0,0,0,0
33,547,Don't Think Twice,"Comedy,Drama",When a member of a popular New York City impro...,Mike Birbiglia,"Keegan-Michael Key, Gillian Jacobs, Mike Birbi...",2016,92,6.8,10485,...,4014,4015,2016,18+,66/100,0,1,0,0,0
34,606,Handsome Devil,Drama,Ned and Conor are forced to share a bedroom at...,John Butler,"Fionn O'Shea, Nicholas Galitzine, Andrew Scott...",2016,95,7.4,338,...,729,730,2017,18+,66/100,1,0,0,0,0
35,643,The Ridiculous 6,"Comedy,Western",An outlaw who was raised by Native Americans d...,Frank Coraci,"Adam Sandler, Terry Crews, Jorge Garcia, Taylo...",2015,119,4.8,31149,...,1035,1036,2015,13+,62/100,1,0,0,0,0
36,653,Insidious,"Horror,Mystery,Thriller",A family looks to prevent evil spirits from tr...,James Wan,"Patrick Wilson, Rose Byrne, Ty Simpkins, Lin S...",2010,103,6.8,219916,...,211,212,2010,13+,78/100,1,0,0,0,0
37,678,"Love, Rosie","Comedy,Romance",Rosie and Alex have been best friends since th...,Christian Ditter,"Lily Collins, Sam Claflin, Christian Cooke, Ja...",2014,102,7.2,80415,...,4768,4769,2014,18+,77/100,0,0,1,0,0
38,685,Seven Pounds,"Drama,Romance",A man with a fateful secret embarks on an extr...,Gabriele Muccino,"Will Smith, Rosario Dawson, Woody Harrelson,Mi...",2008,123,7.7,245144,...,155,156,2008,13+,80/100,1,0,1,0,0
39,692,Dear Zindagi,"Drama,Romance",Kaira is a budding cinematographer in search o...,Gauri Shinde,"Alia Bhatt, Shah Rukh Khan, Kunal Kapoor, Priy...",2016,151,7.8,23540,...,720,721,2016,13+,66/100,1,0,0,0,0
40,725,The Karate Kid,"Action,Drama,Family",Work causes a single mother to move to China w...,Harald Zwart,"Jackie Chan, Jaden Smith, Taraji P. Henson, We...",2010,140,6.2,127983,...,187,188,1984,7+,79/100,1,0,0,0,0
41,735,Mr. Church,"Comedy,Drama","""Mr. Church"" tells the story of a unique frien...",Bruce Beresford,"Eddie Murphy, Britt Robertson, Natascha McElho...",2016,104,7.7,16163,...,4842,4843,2016,13+,73/100,0,0,1,0,0
42,758,Deuces,Drama,An agent infiltrates a crime ring ran by a cha...,Jamal Hill,"Larenz Tate, Meagan Good, Rotimi, Rick Gonzalez",2016,87,6.6,256,...,2160,2161,2017,18+,50/100,1,0,0,0,0
43,760,The Fighter,"Action,Biography,Drama","A look at the early years of boxer ""Irish"" Mic...",David O. Russell,"Mark Wahlberg, Christian Bale, Amy Adams,Melis...",2010,116,7.8,290056,...,7845,7846,1952,NaN,40/100,0,0,1,0,0
44,766,PK,"Comedy,Drama,Romance",A stranger in the city asks questions no one h...,Rajkumar Hirani,"Aamir Khan, Anushka Sharma, Sanjay Dutt,Boman ...",2014,153,8.2,103279,...,232,233,2015,13+,77/100,1,0,0,0,0
45,784,Tramps,"Comedy,Romance",A young man and woman find love in an unlikely...,Adam Leon,"Callum Turner, Grace Van Patten, Michal Vondel...",2016,82,6.5,1031,...,261,262,2016,NaN,76/100,1,0,0,0,0
46,793,Zack and Miri Make a Porno,"Comedy,Romance",Lifelong platonic friends Zack and Miri look t...,Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",2008,101,6.6,154936,...,327,328,2008,18+,74/100,1,1,1,0,0
47,810,USS Indianapolis: Men of Courage,"Action,Drama,History","During World War II, an American navy ship is ...",Mario Van Peebles,"Nicolas Cage, Tom Sizemore, Thomas Jane,Matt L...",2016,128,5.2,4964,...,5227,5228,2016,18+,63/100,0,0,1,0,0
48,824,Christine,"Biography,Drama","The story of Christine Chubbuck, a 1970s TV re...",Antonio Campos,"Rebecca Hall, Michael C. Hall, Tracy Letts, Ma...",2016,119,7.0,5855,...,778,779,2016,18+,65/100,1,1,0,0,0
49,844,The Princess and the Frog,"Animation,Adventure,Comedy","A waitress, desperate to fulfill her dreams as...",Ron Clements,"Anika Noni Rose, Keith David, Oprah Winfrey, B...",2009,97,7.1,95480,...,8712,8713,2009,all,77/100,0,0,0,1,0
50,866,Horns,"Drama,Fantasy,Horror",In the aftermath of his girlfriend's mysteriou...,Alexandre Aja,"Daniel Radcliffe, Juno Temple, Max Minghella, ...",2013,120,6.5,61060,...,438,439,2013,18+,72/100,1,0,0,0,0
51,874,One Day,"Drama,Romance",After spending the night together on the night...,Lone Scherfig,"Anne Hathaway, Jim Sturgess, Patricia Clarkson...",2011,107,7.0,113599,...,1414,1415,2016,NaN,58/100,1,0,1,0,0
52,874,One Day,"Drama,Romance",After spending the night together on the night...,Lone Scherfig,"Anne Hathaway, Jim Sturgess, Patricia Clarkson...",2011,107,7.0,113599,...,1414,1415,2016,NaN,58/100,1,0,1,0,0
53,882,Saving Mr. Banks,"Biography,Comedy,Drama",Author P.L. Travers reflects on her childhood ...,John Lee Hancock,"Emma Thompson, Tom Hanks, Annie Rose Buckley, ...",2013,125,7.5,125693,...,8715,8716,2013,13+,77/100,0,0,0,1,0
54,890,50/50,"Comedy,Drama,Romance","Inspired by a true story, a comedy centered on...",Jonathan Levine,"Joseph Gordon-Levitt, Seth Rogen, Anna Kendric...",2011,100,7.7,281625,...,3722,3723,2011,18+,82/100,0,1,1,0,0
55,912,I Am the Pretty Thing That Lives in the House,Thriller,A young nurse takes care of elderly author who...,Oz Perkins,"Ruth Wilson, Paula Prentiss, Lucy Boynton, Bob...",2016,87,4.7,4204,...,1096,1097,2016,NaN,61/100,1,0,0,0,0
56,934,Detour,Thriller,A young law student blindly enters into a pact...,Christopher Smith,"Tye Sheridan, Emory Cohen, Bel Powley,Stephen ...",2016,97,6.3,2205,...,5068,5069,1945,NaN,66/100,0,0,1,0,0
57,939,The Siege of Jadotville,"Action,Drama,Thriller",Irish Commandant Pat Quinlan leads a stand off...,Richie Smyth,"Jamie Dornan, Mark Strong, Jason O'Mara, Micha...",2016,108,7.3,14689,...,130,131,2016,NaN,81/100,1,0,0,0,0
58,983,Across the Universe,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,...,3787,3788,2007,13+,76/100,0,1,1,0,0

In [ ]:
dfMerge.isnull().sum()

Rank                   0
Title                  0
Genre                  0
Description            0
Director               0
Actors                 0
Year_x                 0
Runtime (Minutes)      0
Rating                 0
Votes                  0
Revenue (Millions)    13
Metascore              3
show_id                0
director               1
cast                   1
country                0
date_added             0
release_year           0
rating                 0
duration               0
listed_in              0
description            0
type                   0
Unnamed: 0             0
ID                     0
Year_y                 0
Age                   12
Rotten Tomatoes        0
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
dtype: int64

Salió mal xd (no tomar en cuenta, estaba juganding)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Cargar los datasets
dfIMDB = pd.read_csv('/content/IMDB-Movie-Data.csv')
dfMovies = pd.read_csv('/content/MoviesOnStreamingPlatforms.csv')
dfNetflix = pd.read_csv('/content/netflix_titles_nov_2019.csv')

# Renombrar columna en dfNetflix para hacer el merge
dfNetflix.rename(columns={'title': 'Title'}, inplace=True)

# Fusión de los datasets por la columna 'Title'
dfMerge = pd.merge(dfIMDB, dfNetflix, on='Title', how='inner')
dfFinal = pd.merge(dfMerge, dfMovies, on='Title', how='inner')

# Eliminar duplicados
dfFinal.drop_duplicates(inplace=True)

# Identificar columnas con valores nulos
null_values = dfFinal.isnull().sum() / len(dfFinal) * 100

# Imputación para columnas numéricas con la mediana
imputer_num = SimpleImputer(strategy='median')
dfFinal['Revenue (Millions)'] = imputer_num.fit_transform(dfFinal[['Revenue (Millions)']])
dfFinal['Metascore'] = imputer_num.fit_transform(dfFinal[['Metascore']])

# Codificación de la columna 'Age' con LabelEncoder en lugar de imputación
label_encoder = LabelEncoder()
dfFinal['Age'] = label_encoder.fit_transform(dfFinal['Age'])

# Codificación de la columna 'Type' con LabelEncoder (es binaria: Movie/TV Show)
dfFinal['Type'] = label_encoder.fit_transform(dfFinal['Type'])

# Transformación de la columna 'Genre' para One-Hot Encoding
dfFinal['Genre'] = dfFinal['Genre'].str.split(',')
dfFinal = dfFinal.explode('Genre')

# Aplicar One-Hot Encoding en la columna 'Genre'
dfFinal = pd.get_dummies(dfFinal, columns=['Genre'], prefix='Genre', drop_first=True)

# Resultado del preprocesamiento
dfFinal.head()

,Rank,Title,Description,Director,Actors,Year_x,Runtime (Minutes),Rating,Votes,Revenue (Millions),...,Genre_Family,Genre_Fantasy,Genre_History,Genre_Horror,Genre_Musical,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Thriller,Genre_Western
0,8,Mindhorn,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,31.47,...,False,False,False,False,False,False,False,False,False,False
1,71,The Promise,Set during the last days of the Ottoman Empire...,Terry George,"Oscar Isaac, Charlotte Le Bon, Christian Bale,...",2016,133,5.9,149791,31.47,...,False,False,False,False,False,False,False,False,False,False
1,71,The Promise,Set during the last days of the Ottoman Empire...,Terry George,"Oscar Isaac, Charlotte Le Bon, Christian Bale,...",2016,133,5.9,149791,31.47,...,False,False,True,False,False,False,False,False,False,False
2,89,The Hateful Eight,"In the dead of a Wyoming winter, a bounty hunt...",Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",2015,187,7.8,341170,54.12,...,False,False,False,False,False,False,False,False,False,False
2,89,The Hateful Eight,"In the dead of a Wyoming winter, a bounty hunt...",Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",2015,187,7.8,341170,54.12,...,False,False,False,False,False,False,False,False,False,False

In [23]:
dfMovies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9515 entries, 0 to 9514
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9515 non-null   int64
 1   ID               9515 non-null   int64
 2   Title            9515 non-null   object
 3   Year             9515 non-null   int64
 4   Age              5338 non-null   object
 5   Rotten Tomatoes  9508 non-null   object
 6   Netflix          9515 non-null   int64
 7   Hulu             9515 non-null   int64
 8   Prime Video      9515 non-null   int64
 9   Disney+          9515 non-null   int64
 10  Type             9515 non-null   int64
dtypes: int64(8), object(3)
memory usage: 817.8+ KB

In [ ]:
# drop dfMovies Unnamed: 0, ID, Age, Type
dfMovies.drop(['Unnamed: 0', 'ID', 'Age', 'Type'], axis=1, inplace=True)

In [28]:
dfMovies

,Title,Year,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,The Irishman,2019,98/100,1,0,0,0
1,Dangal,2016,97/100,1,0,0,0
2,David Attenborough: A Life on Our Planet,2020,95/100,1,0,0,0
3,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0
4,Roma,2018,94/100,1,0,0,0
...,...,...,...,...,...,...,...
9510,Most Wanted Sharks,2020,14/100,0,0,0,1
9511,Doc McStuffins: The Doc Is In,2020,13/100,0,0,0,1
9512,Ultimate Viking Sword,2019,13/100,0,0,0,1
9513,Hunt for the Abominable Snowman,2011,10/100,0,0,0,1
9514,Women of Impact: Changing the World,2019,10/100,0,0,0,1

In [30]:
import os
import zipfile
import requests
import pandas as pd

# URL del dataset
url = "https://files.grouplens.org/datasets/movielens/ml-20m.zip"
zip_file = "ml-20m.zip"
extract_dir = "ml-20m"

# Descargar el dataset
if not os.path.exists(zip_file):
    print("Descargando dataset...")
    response = requests.get(url)
    with open(zip_file, 'wb') as f:
        f.write(response.content)
    print("Descarga completa.")

# Descomprimir el dataset
if not os.path.exists(extract_dir):
    print("Descomprimiendo dataset...")
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(extract_dir)
    print("Descompresión completa.")

Descargando dataset...
Descarga completa.
Descomprimiendo dataset...
Descompresión completa.

In [31]:
movies = pd.read_csv("/content/ml-20m/ml-20m/movies.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [32]:
rating = pd.read_csv("/content/ml-20m/ml-20m/ratings.csv")
rating

          userId  movieId  rating   timestamp
0              1        2     3.5  1112486027
1              1       29     3.5  1112484676
2              1       32     3.5  1112484819
3              1       47     3.5  1112484727
4              1       50     3.5  1112484580
...          ...      ...     ...         ...
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

[20000263 rows x 4 columns]

In [33]:
# merge movie y rating [movieID]
dfMerge = pd.merge(movies, rating, on='movieId', how='inner')
dfMerge

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821
...,...,...,...,...,...,...
20000258,131254,Kein Bund für's Leben (2007),Comedy,79570,4.0,1427743979
20000259,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,79570,4.0,1427744888
20000260,131258,The Pirates (2014),Adventure,28906,2.5,1427745392
20000261,131260,Rentun Ruusu (2001),(no genres listed),65409,3.0,1427745466
20000262,131262,Innocence (2014),Adventure|Fantasy|Horror,133047,4.0,1427747966

In [34]:
# Dividir la columna 'title' en dos nuevas columnas
dfMerge[['title', 'year']] = dfMerge['title'].str.extract(r'(.+?) \((\d{4})\)')

# Mostrar el DataFrame resultante
print(dfMerge)

          movieId                   title  \
0               1               Toy Story
1               1               Toy Story
2               1               Toy Story
3               1               Toy Story
4               1               Toy Story
...           ...                     ...
20000258   131254   Kein Bund für's Leben
20000259   131256  Feuer, Eis & Dosenbier
20000260   131258             The Pirates
20000261   131260            Rentun Ruusu
20000262   131262               Innocence

                                               genres  userId  rating  \
0         Adventure|Animation|Children|Comedy|Fantasy       3     4.0
1         Adventure|Animation|Children|Comedy|Fantasy       6     5.0
2         Adventure|Animation|Children|Comedy|Fantasy       8     4.0
3         Adventure|Animation|Children|Comedy|Fantasy      10     4.0
4         Adventure|Animation|Children|Comedy|Fantasy      11     4.5
...                                               ...     ...     ...
20000258                                       Comedy   79570     4.0
20000259                                       Comedy   79570     4.0
20000260                                    Adventure   28906     2.5
20000261                           (no genres listed)   65409     3.0
20000262                     Adventure|Fantasy|Horror  133047     4.0

           timestamp  year
0          944919407  1995
1          858275452  1995
2          833981871  1995
3          943497887  1995
4         1230858821  1995
...              ...   ...
20000258  1427743979  2007
20000259  1427744888  2002
20000260  1427745392  2014
20000261  1427745466  2001
20000262  1427747966  2014

[20000263 rows x 7 columns]

In [35]:
display(dfMerge.head(20))

,movieId,title,genres,userId,rating,timestamp,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407,1995
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452,1995
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871,1995
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887,1995
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821,1995
5,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,12,4.0,859063718,1995
6,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,13,4.0,849082891,1995
7,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1225311239,1995
8,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,16,3.0,990969772,1995
9,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,19,5.0,855176628,1995
10,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,22,3.0,994638157,1995
11,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,23,4.0,914458411,1995
12,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,24,4.0,994230149,1995
13,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,31,3.0,1424733487,1995
14,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,34,5.0,846509445,1995
15,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,39,5.0,859325696,1995
16,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,47,1.0,1239940397,1995
17,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,53,4.0,938948976,1995
18,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,54,4.0,974840421,1995
19,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,58,5.0,1144058408,1995

In [36]:
# en dfMovies cambiar nombre de variables a minuscula
dfMovies.columns = dfMovies.columns.str.lower()

In [37]:
df_combined = pd.merge(dfMovies, dfMerge, left_on=['title'], right_on=['title'], how='left')

In [38]:
df_combined

,title,year_x,rotten tomatoes,netflix,hulu,prime video,disney+,movieId,genres,userId,rating,timestamp,year_y
0,The Irishman,2019,98/100,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,Dangal,2016,97/100,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,David Attenborough: A Life on Our Planet,2020,95/100,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,14.0,4.5,1.225311e+09,2001
4,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,176.0,5.0,1.426775e+09,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3058923,Most Wanted Sharks,2020,14/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
3058924,Doc McStuffins: The Doc Is In,2020,13/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
3058925,Ultimate Viking Sword,2019,13/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
3058926,Hunt for the Abominable Snowman,2011,10/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
3058927,Women of Impact: Changing the World,2019,10/100,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# aliminar todos los valores NaN de df_combined
df_combined = df_combined.dropna()

In [40]:
df_combined.head(20)

,title,year_x,rotten tomatoes,netflix,hulu,prime video,disney+,movieId,genres,userId,rating,timestamp,year_y
3,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,14.0,4.5,1.225311e+09,2001
4,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,176.0,5.0,1.426775e+09,2001
5,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,206.0,4.0,1.117061e+09,2001
6,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,266.0,3.5,1.311928e+09,2001
7,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,306.0,2.5,1.084898e+09,2001
8,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,489.0,3.5,1.076114e+09,2001
9,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,732.0,4.5,1.075677e+09,2001
10,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,777.0,4.5,1.168061e+09,2001
11,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,787.0,3.5,1.153778e+09,2001
12,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,872.0,3.5,1.290864e+09,2001
13,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,933.0,5.0,1.295323e+09,2001
14,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1323.0,4.0,1.070656e+09,2001
15,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1653.0,4.0,1.090874e+09,2001
16,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1737.0,5.0,1.134080e+09,2001
17,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1789.0,4.5,1.201958e+09,2001
18,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,1966.0,4.5,1.072412e+09,2001
19,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,2024.0,4.5,1.144801e+09,2001
20,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,2232.0,4.5,1.127532e+09,2001
21,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,2484.0,3.5,1.209332e+09,2001
22,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,2703.0,4.5,1.110072e+09,2001

In [41]:
# drop timestamp	year_y
df_combined.drop(['timestamp', 'year_y'], axis=1, inplace=True)

<ipython-input-41-0bb8a38263d9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.drop(['timestamp', 'year_y'], axis=1, inplace=True)

In [42]:
df_combined

,title,year_x,rotten tomatoes,netflix,hulu,prime video,disney+,movieId,genres,userId,rating
3,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,14.0,4.5
4,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,176.0,5.0
5,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,206.0,4.0
6,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,266.0,3.5
7,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0,6776.0,Comedy|Drama|Musical|Romance,306.0,2.5
...,...,...,...,...,...,...,...,...,...,...,...
3058752,Walt & El Grupo,2008,47/100,0,0,0,1,83978.0,Documentary,26867.0,2.0
3058753,Walt & El Grupo,2008,47/100,0,0,0,1,83978.0,Documentary,121535.0,2.5
3058786,The Adventures of André and Wally B.,1984,45/100,0,0,0,1,126405.0,Animation,1678.0,3.0
3058787,The Adventures of André and Wally B.,1984,45/100,0,0,0,1,126405.0,Animation,61678.0,0.5
3058788,The Adventures of André and Wally B.,1984,45/100,0,0,0,1,126405.0,Animation,65687.0,0.5